@import "mixins.scss";

.card-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 928px;
  margin-bottom: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 224px;
  @include border-bg-padding;

  &__photo {
    width: 200px;
    height: 150px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 12px;
    color: #343433;
    text-align: justify;
    text-indent: 2em;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    text-decoration: underline;
    font-size: 12px;
    text-align: right;
  }
}

@media (max-width: 1024px) {
  .card-container {
    flex-direction: column;
    margin-bottom: 6px;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8px;

    &__photo {
      min-width: 216px;
    }

    &__img {
      width: 100%;
    }

    &__content {
      margin-left: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__text {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .card__text {
    max-height: 104px;
    overflow: hidden;
  }
}

@media (max-width: 568px) {
  .card-container {
    margin-bottom: 4px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-bottom: 4px;

    &__photo {
      width: 100%;
      height: auto;
      min-width: 200px;
    }

    &__content {
      margin: 12px 0 0;
    }
  }
}
