@import "mixins.scss";

.slider {
  display: flex;
  @include min-max-width;
  min-height: 270px;
  @include border-bg-padding;
  margin-bottom: 14px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 568px) {
  .slider {
    padding: 8px;
    margin-bottom: 8px;
  }
}
