body {
  background: #f4f3f2;
  background: radial-gradient(circle, #f4f3f2 0%, #ada6a0 100%);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 48px 116px;
}

@media (max-width: 568px) {
  body {
    padding: 36px 40px 96px;
  }
}
ul,
p,
h3 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
  width: 100%;
  max-width: 928px;
  min-width: 320px;
}
.header__logo {
  font-size: 89px;
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
}

@media (max-width: 568px) {
  .header {
    margin-bottom: 8px;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 928px;
  min-width: 320px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
}
.navbar__list {
  display: flex;
  flex-direction: row;
}
.navbar__item {
  display: inline-block;
  font-size: 18px;
  color: #5b5b5b;
  margin: 0 30px;
}
.navbar__item:hover {
  text-decoration: underline;
}
.navbar__search-input {
  box-sizing: border-box;
  width: 261px;
  height: 30px;
  background-image: url(images/search.svg);
  background-position: 219px;
  background-repeat: no-repeat;
  background-color: #fafafa;
  border: 1px solid rgba(205, 205, 205, 0.38);
  padding: 9px 44px 9px 16px;
  font-size: 18px;
}
.navbar__search-input::placeholder {
  font-size: 18px;
  color: #a7a7a7;
}

@media (max-width: 1024px) {
  .navbar__item {
    margin: 0 18px;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar__navigation {
    width: 100%;
    margin-bottom: 12px;
  }
  .navbar__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar__item {
    margin: 0 18px;
  }
}
@media (max-width: 568px) {
  .navbar {
    padding: 8px;
  }
  .navbar__item {
    margin: 0 12px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  width: 100%;
  max-width: 928px;
  min-width: 320px;
  min-height: 270px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
  margin-bottom: 14px;
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 568px) {
  .slider {
    padding: 8px;
    margin-bottom: 8px;
  }
}
.card-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 928px;
  margin-bottom: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 224px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
}
.card__photo {
  width: 200px;
  height: 150px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__text {
  font-size: 12px;
  color: #343433;
  text-align: justify;
  text-indent: 2em;
  margin-top: 24px;
  margin-bottom: 30px;
}
.card__link {
  display: block;
  text-decoration: underline;
  font-size: 12px;
  text-align: right;
}

@media (max-width: 1024px) {
  .card-container {
    flex-direction: column;
    margin-bottom: 6px;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8px;
  }
  .card__photo {
    min-width: 216px;
  }
  .card__img {
    width: 100%;
  }
  .card__content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card__text {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .card__text {
    max-height: 104px;
    overflow: hidden;
  }
}
@media (max-width: 568px) {
  .card-container {
    margin-bottom: 4px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-bottom: 4px;
  }
  .card__photo {
    width: 100%;
    height: auto;
    min-width: 200px;
  }
  .card__content {
    margin: 12px 0 0;
  }
}
.welcome {
  width: 100%;
  max-width: 928px;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
  margin-bottom: 14px;
}
.welcome__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 224px;
  height: 168px;
}
.welcome__img {
  width: 104px;
  height: 80px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.welcome__content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.welcome__header {
  font-size: 18px;
  color: #000000;
  text-align: left;
}
.welcome__text {
  height: 100px;
  overflow: hidden;
  font-size: 12px;
  color: #343433;
  text-align: justify;
  text-indent: 2em;
  margin-top: 13px;
  margin-bottom: 24px;
}
.welcome__link {
  text-decoration: underline;
  font-size: 12px;
  text-align: right;
}

@media (max-width: 568px) {
  .welcome {
    flex-direction: column;
    padding: 8px;
    margin-bottom: 8px;
  }
  .welcome__images {
    height: 320px;
  }
  .welcome__img {
    min-width: 40%;
    height: 50%;
    max-height: 156px;
    flex-grow: 1;
    margin: 0;
    object-fit: cover;
  }
  .welcome__img:nth-child(odd) {
    margin-right: 8px;
  }
  .welcome__img:nth-child(1) {
    margin-bottom: 8px;
  }
  .welcome__content {
    margin: 14px 0 0;
  }
}
.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 56px;
  font-size: 12px;
  width: 100%;
  max-width: 928px;
  min-width: 320px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid black;
}
.footer__link {
  margin-right: 12px;
}
.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 568px) {
  .footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
